@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(https://cdn-images-1.medium.com/max/2600/0*o1QU-7dhjuNPNZUq.);
  background-size: cover;
  display: cover;
  background-attachment: fixed;
  padding-top: 70px
}

footer {
  text-align: center;
  margin-top: 100px;
  color: white
}

h1 {

}

h3 {
  text-align: center;
  margin: 40px;
  color: white;
  font-size: 75px;
  // border-style: double;
  box-sizing: border-box;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // text-shadow: 0 0 2px #000;
}

.artist {
  background-color: rgba(255,255,255,.3);
  border-radius: 3px
}

.addArtist {
  text-align: center;
  margin-top: 40px;
  // text-decoration-color: green
}

.container {
  color: white;
}

.dropdown-menu {
  min-width: 20em
}

.getArtists {
  text-align: center;
  padding: 20px;
}

.navbar.bg-light.navbar-light {
  background-color: rgba(255,255,255,.3) !important;
}

#message {
  text-align: center;
  // color: green;
}

// .remove-artist {
//   margin: 5px;
// }

#artist {
  align: center;
  margin: 8px;
}

#artistList {
  text-align: center;
  align: center;
}

#headerWithLogo {
  margin-top: 220px;
}

#logo {
  text-align: center;
  // margin-top: 120px;
}

#sign-up2,
#sign-in2,
#change-pw2,
#sign-out2 {
  text-align: center;
  color: white;
}
